* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


html, body, .main-container {
  min-height: 100%;
}

html {
  background-color: darkgray;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

#intro {
  max-width: 800px;
}
  
h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 20px;
}

p { 
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}


.about-section {
  float: right;
  padding: 50px;
  margin-top: 20px;
  padding-top: 40px;
  text-align: center;
  background-position: center;
  background-size:cover;
  color: white;
}

hr {
  border: 1px dotted black;
}

.button {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: auto;
  border-radius: 12px;
}

.button:hover {
  background-color: #555;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.img-main {
  border: 2px double black;
  border-radius: 24px;
  padding: 2px;
  width: 400px;
  filter: grayscale(10%);
}
   
.bottom-img {
  filter: grayscale(100%);
  opacity: 0.8;
  border: 1px solid black;
  border-radius: 25px;
  width: 180px;
}

.bottom-img:hover {
  filter: grayscale(10%);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  opacity: 1;
  border: 1px solid black;
  border-radius: 25px;
}


/*
body {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  background-color: #555;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 20px;
}

p { 
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

.column {
  float: left;
  width: 90%;
  margin: 0 auto;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0 8px;
}

.column2 {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  margin-top: 20px;
}

.about-section {
  float: right;
  padding: 50px;
  margin-top: 20px;
  padding-top: 40px;
  text-align: center;
  background-position: center;
  background-size:cover;
  color: white;
}

hr {
  border: 1px dotted white;
}

.button {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: auto;
  border-radius: 12px;
}

.button:hover {
  background-color: #555;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.image {
  width: 50%;
  height: auto;
  filter: grayscale(10%);
  margin: 40px;
  border-style: double;
  border-radius: 25px;
}
   
.bottom-img {
  filter: grayscale(100%);
  opacity: 0.8;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.bottom-img:hover {
  filter: grayscale(10%);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  opacity: 1;
  border: 1px solid black;
  border-radius: 25px;
}
*/